modules = ["python-3.11", "php-8.3", "php-8.4", "postgresql-16", "php-8.2"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Restaurant App"

[[workflows.workflow]]
name = "Restaurant App"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 router.php"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
MYSQL_HOST = "localhost"
MYSQL_DATABASE = "restro"
MYSQL_USER = "root"
MYSQL_PASSWORD = ""
